.subscribebutton {
  background-color: red;
  color: white;
  border: none;
  height: 50px;
  width: 100px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
}

.joinButton {
  background-color: white;
  border-color: rgb;
  border-width: 1px;
  border-style: solid;
  color: blue;
  height: 36px;
  width: 62px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
}

.tweetButton {
  background-color: blue;
  color: white;
  border: none;
  height: 36px;
  width: 105px;
  font-weight: bold;
}
